.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
/* manul start */
.card-wrapper{
  background-color: aliceblue;
  width: 200px;
  margin-left:20px ;
  border-radius:5px 5px 0px 0px ;
  padding: 5px;
}
.btn-wrapper .btn{
  background-color: red;
  padding: 8px;
  color: white;
  border-radius: 5px;
}
.cart-wrapper img{
  background-color: red;
  width: 100px;
  float:right;
}
/* manul ends here */
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
